body{
    background: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    display: flex;
    justify-content: center;
    
}
.maindiv{
background-color: #DEB887;
width: 500px;
/* height: 700px; */
text-align: center;
padding: 20px;
}

h1{
font-family: Impact, serif;
}

h2{
    font-family: Impact, serif;
  }

  hr{
    height: 2px;
    background-color: red;
    border-color: brown;
  }

  .item{
    /* text-align: left; */
    display: flex;
    justify-content: space-between;
    line-height: 0%;
  }
  footer{
    font-size: 14px;
  }